*{
    box-sizing: border-box;
    font-family: "Garet",sans-serif; 
}
body{
    padding: 0;
    margin: 0;
    width: 100vh;
    height: 100vh;
    overflow-x: hidden;
    
}

.custom-shape-divider-bottom-1701959631 {
    position: relative;
    top: 390px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    height: 166px;
}

.custom-shape-divider-bottom-1701959631svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 166px;
}

.custom-shape-divider-bottom-1701959631 .shape-fill {
    fill: #193f4e;
}

.top{
    width: 100vw;
    height: 550px;
    background-image: url(images/Untitled\ design.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    
}

.head{
    color: white;
    font-size: 2em;
    user-select: none;
    
}
.logos{
    position: relative;
    top: -300px;
}
.head img{
    fill: white;
    width: 75px;
    filter: brightness(0) invert(1);
}

.Navigation a{
    position: relative;
    text-decoration: none;
    color:white;
    font-size: 1.1em;
    margin-left: 40px;
}

.Navigation a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 5px;
    transform: scaleX(0);
    transition: .5s;
}

.Navigation a:hover:after{
    transform: scaleX(1);
}


.Navigation button{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid white;
    color: white;
    font-size: 1.1em;
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-left: 50px;
    transition: .5s;

}
.Navigation button:hover{
    background: white;
    color: black;
}
.Navigation button:focus{

}


header{
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    backdrop-filter: blur(1px);
}

.arrow{
    width: 30px;
    position: relative;
    top: 140px;
    left: 21px;
    filter: brightness(0) invert(0);
}
.mono{
    color: white;
    font-size: 19px;
    text-shadow: 2px 2px 2px black;
    fill: white;
    
    
}
.branding{
    color: white;
    font-size: 60px;
    font-weight: 800;
    text-shadow: 2px 2px 2px black;

}

.stat{
    position: relative;
    top: 75px;
    left: 100px;
}
#curve{
    fill: transparent;
    
}
.login_register{
    position: relative;
    top:130px;
    left: 220px;
    outline: none;
    border: none;
    background-color: white;;
    width: 200px;
    height: 45px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    color: black;
    cursor: pointer;
    border: 0.1px solid white;
    transition: .5s;
}
.login_register:hover{
    background: #03131a;
    color: white;
}

.logo{
    position: relative;
    left: 100px;
    top: 150px;
}
.Navigation .home{
    background-color: white;
    color: black;
    border-radius: 5px
}
.top{
    padding: 0;
    margin: 0;
}
.menu{
    width: 100vw;
    padding: 0;
    background-color: #193f4e;
    display: grid;
    height: 1000px;

    
    
}
.menusystem h1{
    align-items: center;
    text-align: center;
    color: white;
    font-weight: 600;
    text-shadow: 2px 2px 2px black;
}
.menusystem p{
    align-items: center;
    text-align: center;
    color: white;
}
.gridwrapper{
    margin-left: 100px;
    position: relative;
    bottom: 125px;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
}



.item img{
    height: 400px;
    width: 400px;

}
.item p{
    text-align: center;
    font-weight: 600;
    font-size: 25px;
}
.item{
    width: 400px;
    background-color: white;
    border-radius: 100px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.4);
}
.item button{
    background-color: #193f4e;
    color: white;
    outline: none;
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    position: relative;
    left: 150px;
    bottom: 20px;
    cursor: pointer;
    border: 0.1px solid black;
    transition: .5s;

}
.item button:hover{
    background: #03131a;
    color: white;
}
footer{
    background-color: #03131a;
    width: 100vw;
    height: 200px;
    box-shadow:20px 40px rgba(0, 0, 0, 1);;
}
footer img{
    width: 100px;
    filter: brightness(0) invert(1);
}

.social-media img{
    position: relative;
    left: 50%;
    height: 60pxpx;
    width: 60px;
}